<div class="hero">
  <div class="heroForm">
    <span>Password test</span>
    <form [formGroup]="reactiveForm">
      <input type="password" id="password" formControlName="password"/>
    </form>
    <div class="passSection" [ngClass]="{'weak': weak,'medium': medium, 'strong':strong, 'less8':less8}"></div>
    <div class="passSection" [ngClass]="{'medium': medium, 'strong':strong, 'less8':less8}"></div>
    <div class="passSection" [ngClass]="{'strong':strong,'less8':less8}"></div>
  </div>
</div>
